.box-heading.no-flex {
    display: block;
    background-color: #09305e;
    width: 100%;
    color: #FFF;
}

.box-heading {
    display: flex;
    padding: 50px 20px;
    overflow: hidden;
    line-height: 31px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title-after-banner {
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}
