.sign-up-container h2 {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold
}

.form-inputs-devise {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
}

.sign-up-container {
    justify-content: center;
    display: grid;
    margin-top: 50px;
}
