<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <a class="navbar-brand" href="/#">
    <%= image_tag "logo.png", class:"logo-size"%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<<<<<<< HEAD
    <div class="button-sign-up">
      <%= link_to "Get in touch", get_in_touch_path, class:"btn btn-ghost"%>
    </div>
    <!--   <li class="nav-item">
        <a class="nav-link" href="#contacts">Contacts</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li> -->

=======
   <div class="button-sign-up">
      <%= link_to "Get in touch", get_in_touch_path, class:"btn btn-ghost"%>
    </div>
>>>>>>> bd8af40f056989d9030ab9d27b5dbcef59855ff7
  </div>
</div>

