<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <a class="navbar-brand" href="/#">
    <%= image_tag "logo.png", class:"logo-size"%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <div class="button-sign-up">
      <%= link_to "Get in touch", get_in_touch_path, class:"btn btn-ghost"%>
    </div>
  </div>
</div>

