<div class="footer" id="contacts">
<header class="wrapper header-home">
  <div class="half">
    <h1 class="get-in-touch m-3">GET IN TOUCH</h1>
    <h2 class="get-in-touch m-3">Hey!<br>We are looking <br>forward to start <br>a project with you!</h2>
<!--     <div class="footer-links">
      <a href="https://github.com/LeonorBrigas"><i class="fab fa-github justify-content-center"></i></a>
      <a href="https://www.linkedin.com/in/leonor-brigas/"><i class="fab fa-linkedin justify-content-center"></i></a>
    </div> -->
  </div>
  <div class="half">
    <!-- <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317715.71191735944!2d-0.38178256851289294!3d51.52873519885234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1spt-PT!2spt!4v1602536327280!5m2!1spt-PT!2spt" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p> -->
    <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_2" id="gform_2" action="/contact/#gf_2">
    <div class="gform_body">
      <ul id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below">

        <li id="field_2_1" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_1">Name<span class="gfield_required">*</span></label>
          <div class="ginput_container ginput_container_text">
            <input name="input_1" id="input_2_1" type="text" value="" class="medium" placeholder="NAME" aria-required="true" aria-invalid="false">
          </div>
        </li>

        <li id="field_2_2" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_2">Email<span class="gfield_required">*</span></label>
          <div class="ginput_container ginput_container_email">
            <input name="input_2" id="input_2_2" type="text" value="" class="medium" placeholder="EMAIL" aria-required="true" aria-invalid="false">
          </div>
        </li>

        <li id="field_2_3" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_3">Phone</label>
          <div class="ginput_container ginput_container_text">
            <input name="input_3" id="input_2_3" type="text" value="" class="medium" placeholder="PHONE" aria-invalid="false"></div>
        </li>

        <li id="field_2_4" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_4">Message</label>
          <div class="ginput_container ginput_container_textarea">
            <textarea name="input_4" id="input_2_4" class="textarea small" placeholder="MESSAGE" aria-invalid="false" rows="10" cols="50"></textarea>
          </div>
        </li>

        <li id="field_2_5" class="gfield uploadFile field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_5">Upload your pdf attachment (optional).</label>
          <div class="ginput_container ginput_container_fileupload">
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
            <input name="input_5" id="input_2_5" type="file" class="medium" aria-describedby="validation_message_2_5 live_validation_message_2_5 extensions_message_2_5" onchange="javascript:gformValidateFileSize( this, 10485760 );"><span id="extensions_message_2_5" class="screen-reader-text"></span>
            <div class="validation_message" id="live_validation_message_2_5">
            </div>
          </div>
        </li>

        <li id="field_2_6" class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
          <label class="gfield_label" for="input_2_6">Name</label>
          <div class="ginput_container">
            <input name="input_6" id="input_2_6" type="text" value="">
          </div>
          <div class="gfield_description" id="gfield_description__6">This field is for validation purposes and should be left unchanged.
          </div>
        </li>
      </ul>
    </div>

    <div class="gform_footer top_label">
      <input type="submit" id="gform_submit_button_2" class="gform_button button" value="Submit" onclick="if(window[&quot;gf_submitting_2&quot;]){return false;}  window[&quot;gf_submitting_2&quot;]=true;  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_2&quot;]){return false;} window[&quot;gf_submitting_2&quot;]=true;  jQuery(&quot;#gform_2&quot;).trigger(&quot;submit&quot;,[true]); }">
      <input type="hidden" name="gform_ajax" value="form_id=2&amp;title=&amp;description=&amp;tabindex=0">
    <input type="hidden" class="gform_hidden" name="is_submit_2" value="1">
    <input type="hidden" class="gform_hidden" name="gform_submit" value="2">

    <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
    <input type="hidden" class="gform_hidden" name="state_2" value="WyJbXSIsImU2YmQxZWNhYzg5YWZkM2ZjYTA0NTEwNzQxZjU0NGIxIl0=">
    <input type="hidden" class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2" value="0">
    <input type="hidden" class="gform_hidden" name="gform_source_page_number_2" id="gform_source_page_number_2" value="1">
    <input type="hidden" name="gform_field_values" value="">
    </div>
  </form>
  </div>
</header>
</div>
